<h1> Classroom Info</h1> 

<%= render 'classroom' %>
<br>
<h2>Student Information: </h2>
<% @classroom.students.each do |student| %>

<%= render partial: "students/student", locals: {student: student} %>
<% end %>